{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog{% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-bodybg">
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <div class="flex px-10 mx-auto gap-8">
        <main class="flex-1">
            {% block content %}
            {% endblock %}
        </main>
        <aside class="w-100 hidden md:block">
            {% block sidebar %}
            <!-- Default sidebar content or leave empty -->
            {% endblock %}
        </aside>
    </div>
</body>
</html>