{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog{% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-bodybg">
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <div class="flex max-w-5xl mx-auto gap-8">
        <main class="flex-1">
            {% block content %}
            {% endblock %}
        </main>
        <aside class="w-80">
            {% block sidebar %}
            <!-- Example sidebar content -->
            <section>
                <h2 class="text-lg font-bold mb-2">About Me</h2>
            <p class="text-gray-700 mb-10">Brief bio goes here. You can add your profile image and a short description.</p>
            </section>
            <section class="mb-8">
                <h2 class="text-lg font-bold mb-2">Recent Posts</h2>
                <ul class="space-y-2">
                    {% for recent in recent_posts %}
                        <li>
                            <a href="{% url 'post_detail' slug=recent.slug %}" class="text-blue-600 hover:underline">{{ recent.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
            {% endblock %}
        </aside>
    </div>
</body>
</html>